/* Copy these environment variables into an .env file with your corresponding connections and ignore the .env file */

NEXTAUTH_URL = "http://localhost:3000"
NEXTAUTH_SECRET = "123456789"

GOOGLE_ID = < your user id >
GOOGLE_SECRET = < your application secret >

FACEBOOK_ID = < your user id >
FACEBOOK_SECRET = < your application secret >

GITHUB_ID = < your user id >
GITHUB_SECRET = < your application secret >
